@import "tailwindcss";

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}
/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

/* Custom theme colors */
@theme {
  --color-primary: #4F46E5;
  --color-secondary: #9333EA;
  --color-danger: #DC2626;
  --color-success: #16A34A;
}
